@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  width: 100%;
}
html {
  margin: 0;
  padding: 0;
}

.padder {
  width: 100vw;
}

.flex1 {
  display: block;
  width: 100%;
}

.nav_bar {
  padding: 8px 20px 12px;
  border-bottom: 0.2px solid rgba(143, 142, 142, 0.062);
}

.nav_bar_mobile_view {
  display: flex;
  width: 100%;
  height: auto;
}

.logo {
  height: 70px;
}

.she_code_logo {
  height: 70px;
  width: 50px;
}

.largeScreen_nav {
  display: none;
}

.menu {
  display: block;
  margin-left: auto;
  padding-top: 5px;
}

.menu_step1 {
  margin: 10px;
  width: 40px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #b70569;
}

.menu_step2 {
  cursor: pointer;
  display: block;
  padding: 8px 6px;
}

.menu_step3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span_div {
  width: 80%;
  height: 2px;
  margin: 2px 0;
  background-color: white;
}

.dropdown {
  display: block;
}

.dropdown_step1 {
  padding: 0 16px;
}

ul {
  margin: 0 0 16px 0;
  padding: 0;
}

li {
  list-style-type: none;
  text-align: center;
  cursor: pointer;
}

.pink {
  color: #b70569;
}

.closed {
  display: none;
}

.notVisible {
  height: 305px;
  overflow: hidden;
  animation-name: decreaseHeight;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes decreaseHeight {
  0% {
    height: 305px;
  }
  40% {
    height: 250px;
    overflow: hidden;
  }
  60%{
    height: 160px;
    overflow: hidden;
  }
  80%{
    height: 80px;
    overflow: hidden;
  }
  100%{
    height: 0;
    display: none;
  }
}

.visible {
  overflow: hidden;
  animation-name: increaseHeight;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes increaseHeight {
  0% {
    height: 0px;
  }

  50% {
    display: block;
    height: 160px;
    overflow: hidden;
  }

  100%{
    height: 305px;
    display: block;
  }
}


.Home {
  padding: 8px 12px;
  font-size: 18px;
  font-weight: bolder;
  border-bottom: 3.5px solid #b70569;
}

.dropdown_links {
  color: #6d033f;
  font-weight: bolder;
  font-size: 12px;
  padding: 16px;
  border-bottom: 2.5px solid #fff;
}

.dropdown_links:hover {
  animation: dropdown_link;
  animation-delay: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes dropdown_link {
  0% {
    text-shadow: 0.5px 0.6px #cc0777;
  }
  50% {
    text-shadow: 0.5px 0.5px #cc0777;
    opacity: 0.8;
    color: #b70569;
  }
  100% {
    transform: scale(1.09);
    border-bottom: 2.5px solid #b70569;
    color: #b70569;
  }
}

.about {
  margin: 4px 0;
  padding: 20px;
}

/* Flex2 */

.flex2 {
  display: block;
}

.flex2_step1 {
  padding: 0 8px 0 20px;
}

.flex2_contents {
  text-align: left;
}

.dark_pink {
  color: #7e0248;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
}

.flex2_contents > h1 {
  font-size: 35px;
  margin: 20px 0 10px;
}

.flex2_contents > h4 {
  font-weight: 400;
  color: #222222;
  font-size: 18px;
}

.btn {
  font-family: "montserrat";
  background-color: #cc0777;
  font-weight: bold;
  color: #fff;
  outline: none;
  border-radius: 8px 8px 8px 0px;
  border: none;
  margin-bottom: 12px;
}

.join_btn {
  font-size: 12px;
  padding: 13px 45px;
}

.join_btn > a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.donor > a{
  color: #cc0777;
}

/* About Us */

#section1 {
  margin: 20px 0;
  padding: 20px 20px 32px;
  background-color: #fcf3fc;
}

.about_sheCode {
  padding: 16px 0;
}

.about__step1 {
  height: auto;
  width: 100%;
}

.about__step1 > h1 {
  font-size: 35px;
  margin-bottom: 12px;
}

.upper_line {
  width: 100%;
}

.top_marker {
  height: 2.7px;
  border-radius: 5px;
  width: 15%;
  background-color: #b70569;
}

.about__info {
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  text-align: center;
}

.info {
  padding: 0 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.icon {
  margin: 24px 0 8px;
}

.icons {
  height: 60px;
  width: 60px;
}

.header4 {
  margin: 0 0 8px;
  font-size: 15px;
}

/* #Our Reach */

#Our_reach {
  margin-top: 36px;
  padding-top: 48px;
}

.reach {
  background-color: #f2f2f2;
}

.reach2 {
  padding: 12px 0px 12px 32px;
}

.reach_step1 > h2 {
  font-size: 32px;
}

.reach2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.reach_step1 {
  width: 100%;
}

.slide_container {
  height: 100px;
  width: 100%;
  flex: 0 0 50%;
  overflow: hidden;
}

.reach_step2 {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}

.inner_slide {
  width: 100%;
  top: 0;
  padding-right: 0;
  display: flex;
  position: relative;
}


.first {
  display: flex;
}

.first_p {
  padding-top: 32px;
}

.first_p > p {
  font-size: 12px;
  color: #222222;
  font-weight: bold;
}

.us {
  margin: 28px 20px 0;
  padding: 12px 8px;
}

.identify {
  text-align: center;
}

.identify > h1 {
  font-size: 40px;
  font-weight: 900;
  text-shadow: 0.5px 0.3px 0.3px #700040;
  margin-bottom: 12px;
  color: #6d033f;
}

.identify > p {
  color: #222222ea;
  font-size: 20px;
  font-weight: 400;
}

.image_centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_container {
  margin: 100px 0 30px;
  padding: 30px 0 0;
}

.image1 {
  background-image: url("Bg_img/event_image1.png");
  height: 400px;
  background-size: contain;
}

.identityImage2 {
  width: 350px;
  background-repeat: no-repeat;
  background-position: center;
}

.growing {
  color: #85064e;
}

.slack_step1 {
  padding: 0 12px;
}

.slack_step2 > p {
  font-size: 18px;
  line-height: 25px;
  color: #222222;
  font-weight: 400;
  margin-bottom: 16px;
}

.slack_step2 > h1 {
  text-shadow: 0.5px 0.3px 0.3px #700040;
  margin-bottom: 16px;
  font-weight: bolder;
  letter-spacing: 2px;
}

/* Attend an event */

.image2_container {
  margin-top: 56px;
  padding: 20px 0 20px 10px;
}

.image2 {
  height: 550px;
  background-size: 100%;
  background-image: url("Bg_img/event_image2.png");
}

.donor {
  background-color: #fff;
  color: #b70569;
  border: 1px solid #b70569;
}

/* Be a partner or Sponsor */

.Follow_us_on_social {
  margin-top: 40px;
  padding-top: 32px;
}

.image3_container {
  padding: 20px 0 20px 10px;
  margin-top: 40px;
}

.image3 {
  height: 500px;
  background-size: 100%;
  background-image: url("Bg_img/event_image3.png");
}

.image4 {
  height: 500px;
  background-size: 100%;
  background-image: url("https://www.shecodeafrica.org/images/event_image4.png");
}

/* What They say */

.whatTheySay_step1 {
  padding: 0 16px;
}

.what_topic {
  padding: 20px;
}

.what_topic > h1 {
  font-family: "montserrat";
  font-size: 40px;
  letter-spacing: normal;
  text-align: center;
  font-weight: bolder;
}

.box{
  text-align: center;
  font-size: 13px;

}

.testimony {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.avatar {
  margin: 8px 20px;
  padding: 0 16px;
}

.testimonial_text {
  line-height: 25px;
}

.testimonial_name {
  font-weight: bold;
  margin-top: 12px;
}


.name {
  font-weight: bolder;
  font-size: 15px;
  text-transform: uppercase;
}

.contactUs {
  margin: 100px 0 70px;
  padding: 40px 5px;
}

.contact_step1 {
  background-color: #ff9dfc13;
  padding: 20px;
}

.contact_group2 {
  padding: 40px 0;
}

.contact_groups > h1 {
  margin: 40px 4px 12px;
  color: #000000;
  /* font-weight: bold; */
}

form {
  text-align: center;
  margin: 8px 4px;
}

.inputs {
  width: 80%;
  border-radius: 4px;
  padding: 13px 12px;
  margin-bottom: 32px;
  outline: none;
  border: none;
}

textarea {
  margin-top: 10px;
  padding: 10%;
  outline: none;
  border: none;
}

.send_message {
  height: auto;
  padding: 28px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send_btn {
  width: 85%;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  padding: 12px 0px;
}

::placeholder {
  font-size: 12px;
  letter-spacing: normal;
  color: #777;
}

/* Footer */

.flex3 {
  display: block;
  padding: 16px;
}

.flex3_step1 {
  height: 450px;
  width: 100%;
  background-image: url("Bg_img/homepage.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.foot1 {
  margin: 4px 0px 0px 0;
  height: auto;
  font-family: "montserrat";
  font-size: 12px;
  color: white;
  background-color: #222222;
}

.bottom_logo {
  display: none;
}

.footie {
  padding: 0 16px;
}

.foot2 {
  display: flex;
  flex-direction: column;
  padding: 20px 16px 4px 0px;
}

.footer_groups {
  margin-top: 0px;
}

.footer_groups > a {
  margin: 16px 0;
  text-decoration: none;
  display: block;
  color: white;
}

.media {
  display: flex;
}

.media > a {
  height: 30px;
  width: 30px;
}

.media > a > img {
  width: 20px;
  height: 20px;
}

.social_group {
  margin-bottom: 8px;
}

.last_footer {
  display: flex;
  justify-content: center;
  border-top: 0.2px solid #f2f2f2;
}

.last_step1 {
  padding: 20px 16px;
}

p {
  margin: 0;
}

@media screen and (min-width: 608px) {
  .nav_bar {
    display: none;
  }

  .largeScreen_nav {
    display: flex;
    flex-direction: column;
  }

  .packet_screen {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0 10px;
  }

  .logo {
    display: block;
    float: left;
  }

  .dropdown_links {
    color: #6d033f;
    font-weight: bolder;
    font-size: 12px;
    padding: 12px 3%;
  }

  li > a:hover {
    animation: link_hover;
    animation-delay: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  @keyframes link_hover {
    0% {
      font-size: 14px;
      padding-top: 17px;
      text-shadow: 0.5px 0.6px #cc0777;
      border-bottom: 3px solid #b70569;
    }
    50% {
      padding-top: 16px;
      text-shadow: 1px 1px #cc0777;
      color: #b70569;
    }
    100% {
      border-bottom: 3px solid #b70569;
      font-size: 16px;
      padding-top: 18px;
      color: #b70569;
    }
  }

  .dropdown_links:hover {
    animation: none;
  }

  .dropdown_step1 {
    display: block;
  }

  .notVisible {
    height: 60.5px;
    animation-duration: 1s;
  }
  
  @keyframes decreaseHeight {
    0% {
      height: 60.5px;
    }
    40% {
      height: 40px;
      overflow: hidden;
    }
    80%{
      height: 20px;
      overflow: hidden;
    }
    100%{
      height: 0;
      display: none;
    }
  }
  
  .visible{
    animation-duration: 1s;
  }
  
  @keyframes increaseHeight {
    0% {
      height: 0px;
    }
    40% {
      height: 20px;
      overflow: hidden;
    }
    80%{
      height: 50px;
      overflow: hidden;
    }
    100%{
      height: 60.5px;
      display: block;
    }
  }

  .large_font {
    display: flex;
    justify-content: space-between;
  }

  .home > a {
    border-bottom: 3.5px solid #b70569;
  }

  .large_font > li > a {
    font-size: 14px;
    padding: 12px 0px;
  }

  .reach2 {
    display: flex;
    flex-direction: row;
  }

  .reach_step1 {
    width: 30%;
  }


  .values {
    display: flex;
    justify-content: space-between;
  }

  .value_div {
    margin: 0 12px;
    padding: 0 12px;
    width: 30%;
  }

  .testimony_box{
    padding: 0 10%;
  }

  textarea {
    margin-top: 10px;
    padding: 20%;
    outline: none;
    border: none;
  }

  .foot1 {
    padding-left: 54px;
  }

  .foot2 {
    margin: 12px 12px 40px;
    display: flex;
    flex-direction: row;
    padding: 20px 12px 4px;
    justify-content: space-between;
  }

  .bottom_logo {
    padding-top: 32px;
  }

  .last_footer {
    border-top: none;
  }
}



@media screen and (min-width: 880px) {
  .menu {
    display: none;
  }

  .large_font > li > a {
    font-size: 15px;
    padding: 12px 4px;
  }

  .flex1 {
    display: none;
  }

  .largeHome {
    color: #b70569;
    font: bolder;
    font-size: 16px;
    border-bottom: 1px solid #b70569;
  }

  .largeScreen_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.2px solid rgba(143, 142, 142, 0.062);
    padding: 24px 0px 24px 48px;
  }

  .dropdown_step1 > ul {
    display: flex;
    justify-content: space-around;
  }

  .dropdown_links {
    color: #6d033f;
    font-weight: bolder;
    font-size: 12px;
    padding: 16px;
  }

  .home {
    font-size: 14px;
    font-weight: bolder;
  }
  .flex3 {
    width: 70%;
    padding: 0;
  }

  .closed {
    display: block;
  }

  .home > a {
    border-bottom: 3.5px solid #b70569;
  }

  .flex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px;
  }

  .flex2_step2 {
    padding-left: 12px;
  }

  .flex2_contents > h1 {
    font-size: 48px;
    font-weight: 700;
  }

  .about__step1 {
    display: flex;
    justify-content: space-between;
  }

  .about__info {
    margin-left: 8px;
    padding-left: 32px;
  }

  .values {
    display: flex;
    justify-content: space-between;
  }

  .value_div {
    margin: 0 12px;
    padding: 0 12px;
    width: 30%;
  }

  #section1 {
    margin-left: 15%;
  }

  p.info {
    font-family: montserrat;
    font-size: 15px;
  }

  div.first {
    margin: 0 10px;
  }

  .first h2 {
    margin: 16px 0;
    font-size: 48px;
  }

  .first_p {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .us {
    margin: 20px 40px;
  }

  .identify {
    padding: 0 40px;
  }

  .identify > p {
    padding: 0 10%;
  }

  .sheCode_growth {
    display: flex;
    justify-content: space-between;
  }

  .slack1 {
    padding: 80px;
  }

  .attend_an_event {
    display: flex;
    flex-direction: row-reverse;
  }

  .image_container,
  .image2_container,
  .image3_container,
  .image4_container {
    margin: 0;
    padding: 50px;
  }

  .be_a_partner {
    display: flex;
  }

  .Follow_us_on_social {
    display: flex;
  }

  .contact_step2 {
    display: flex; 
  }

  .contactUs {
    margin-left: 15%;
  }

  .contactUs1 {
    width: 40%;
  }

  .testimony_box{
    padding: 0 20%;
  }

  textarea {
    margin-top: 10px;
    padding: 20%;
    outline: none;
    border: none;
  }
}
